@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

body {
  background-color: #000;
  color: #aaa;
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serifA;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Work Sans", sans-serif; */
  /* font-family: "Gothic A1", sans-serif; */
  box-sizing: border-box;
}

.container {
  font-size: 25vw;
  margin: auto;
  display: flex;
}

.box {
  background: #101010;
  border-radius: 5vw;
  width: 40vw;
  height: 40vw;
  /* padding: 0vh 5vw; */
  margin: 0 1vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media only screen and (max-width: 760px) {
  #colorInput {
    display: none;
  }
} */

#colorInput {
  border-radius: 10px;
  width: 20px;
  height: 20px;

  background: #aaa;
  color: #aaa;
}

.fade {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
